<div class="row">
  <div class="col-6">
    <!--    <button nz-button nzType="primary" (click)="showModal(null)">Nouveau Client</button>-->
    <button *ngIf="newClient" (click)="showModal(null)" style="height: 100%;" nz-button [nzType]="'primary'">Nouveau
      Client
    </button>

  </div>
</div>
<br>
<br>

<div class="row">
  <!-- Search form -->
  <div class="col-10">
    <input [(ngModel)]="search" (keyup)="searchData($event)" class="form-control" type="text" placeholder="Search" aria-label="Search">
  </div>
  <div class="col-2">
    <button (click)="searchData()" style="width: 100%;height: 100%;" nz-button [nzType]="'primary'">Search</button>
  </div>

</div>

<br>


<br>
<nz-table #basicTable [nzData]="clients">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nom de Client</th>
    <th>Numéro de Téléphone</th>
    <th>Date Debut</th>
    <th>Date Fin</th>
    <th>Marque</th>
    <th>Matricule</th>
    <th>Nombre de jours</th>
    <th>Prix</th>
    <th >Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td (click)="showModal(data)">{{ data.id }}</td>
    <td (click)="showModal(data)">{{ data.nom }} {{ data.prenom }}</td>
    <td (click)="showModal(data)">{{ data.tel }}</td>
    <td (click)="showModal(data)">{{ data.dateDebut | date: "dd-MM-yyyy HH:MM" }}</td>
    <td (click)="showModal(data)">{{ data.dateFin | date: "dd-MM-yyyy HH:MM"}}</td>
    <td>{{ data.marque }}</td>
    <td>{{ data.matricule }}</td>
    <td (click)="showModal(data)">{{ data.numberDay  }}</td>
    <td (click)="showModal(data)">{{ data.total }}</td>
    <td>
      <button nz-button nzType="primary" (click)="showDetails(data.id)" [nzSize]="'small'"><i nz-icon nzType="eye"></i>
      </button>
      &nbsp;
      <button nz-button (click)="showModal(data)" nzType="sucess" [nzSize]="'small'"><i nz-icon nzType="edit"></i>
      </button>
      &nbsp;
      <button nz-button (click)="deleteUser(data.id)" nzType="danger" [nzSize]="'small'"><i nz-icon nzType="delete"></i>
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="{{title}}" disabled="!validateForm.valid" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()">

  <form nz-form [formGroup]="validateForm">

    <nz-tabset>
      <nz-tab nzTitle="Conducteur 1">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nom">Nom</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir Nom De Client !">
            <input nz-input formControlName="nom" id="nom"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="prenom">Prenom </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir Nom De Client !">
            <input nz-input formControlName="prenom" id="prenom"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cin">CIN | Passport</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="cin" id="cin"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="tel">N° Telephone</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir N° Telephone ex : 212661...!">
            <input nz-input formControlName="tel" id="tel"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateDebut" nzRequired>Date Debut</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateDebut!">
            <nz-date-picker style="width: 100%" formControlName="dateDebut"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateFin" nzRequired>Date Fin</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateFin!">
            <nz-date-picker style="width: 100%" formControlName="dateFin"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>



        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nat" nzRequired>Nationalité</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateFin!">
            <input nz-input formControlName="nat" id="nat"/>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nPermis" nzRequired>Permis de Conduire N°</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateFin!">
            <input nz-input formControlName="nPermis" id="nPermis"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateFinPermis" nzRequired>Délivré le</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateFin!">
            <nz-date-picker style="width: 100%" formControlName="dateFinPermis"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="adressMaroc" nzRequired>Addrese Maroc</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateFin!">
            <input nz-input formControlName="adressMaroc" id="adressMaroc"/>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="adressEtranger" nzRequired>Addrese Etranger</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateFin!">
            <input nz-input formControlName="adressEtranger" id="adressEtranger"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateFin" nzRequired>Add Conducteur</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateFin!">
            <i (click)="addConducteur()" style=";cursor: pointer;margin-left: 4%; font-size: 164%;color: #007090;" nz-icon nzType="plus-circle" nzTheme="outline"></i>
          </nz-form-control>
        </nz-form-item>
      </nz-tab>

      <nz-tab  *ngIf="twoCond" nzTitle="Conducteur 2">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nom1">Nom</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir Nom De Client !">
            <input nz-input formControlName="nom1" id="nom1"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="prenom1">Prenom</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir Nom De Client !">
            <input nz-input formControlName="prenom1" id="prenom1"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cin1">CIN | Passport</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="cin1" id="cin1"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="tel1">N° Telephone</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir N° Telephone ex : 212661...!">
            <input nz-input formControlName="tel1" id="tel1"/>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nat1" nzRequired>Nationalité</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateFin!">
            <input nz-input formControlName="nat1" id="nat1"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nPermis1" nzRequired>Permis de Conduire 2 N°</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateFin!">
            <input nz-input formControlName="nPermis1" id="nPermis1"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateFinPermis1" nzRequired>Délivré le</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateFin!">
            <nz-date-picker style="width: 100%" formControlName="dateFinPermis1"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="adressMaroc1" nzRequired>Adresse Maroc</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateFin!">
            <input nz-input formControlName="adressMaroc1" id="adressMaroc1"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="adressEtranger2" nzRequired>Adresse Etranger</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir dateFin!">
            <input nz-input formControlName="adressEtranger2" id="adressEtranger2"/>
          </nz-form-control>
        </nz-form-item>


      </nz-tab>

      <nz-tab nzTitle="Voiture">

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="numberDay">Nombre de jours</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir Des Nombres 0,1,2,...">
            <input nz-input formControlName="numberDay" id="numberDay"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="total">Prix</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir Des Nombres 0,1,2,...">
            <input nz-input formControlName="total" placeholder="Prix en DH, ex 250" id="total"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="addV">
          <nz-form-label  [nzSm]="6" [nzXs]="24" nzRequired nzFor="matricule">Voiture</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir N° Immatriculation de voiture">
            <input nz-input (keyup)="onKey($event)" placeholder="N° Immatriculation" formControlName="matricule"
                   id="matricule"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="livraison">Livraison</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir N° Immatriculation de voiture">
            <input nz-input (keyup)="onKey($event)" placeholder="Lieu de départ" formControlName="livraison" id="livraison"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="recuperation">Recuperation</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Veuillez Saisir N° Immatriculation de voiture">
            <input nz-input (keyup)="onKey($event)" placeholder="Lieu de recuperation" formControlName="recuperation" id="recuperation"/>
          </nz-form-control>
        </nz-form-item>



      </nz-tab>

<!--      <nz-tab nzTitle="Conducteur">-->

<!--        <nz-form-item>-->
<!--          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nameCdt">Nom & Prenom de Conducteur</nz-form-label>-->
<!--          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Name Client is not valid E-mail!">-->
<!--            <input nz-input formControlName="nameCdt" id="nameCdt"/>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->

<!--        <nz-form-item>-->
<!--          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="livraison">Livraison</nz-form-label>-->
<!--          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Name Client is not valid E-mail!">-->
<!--            <input nz-input formControlName="livraison" id="livraison"/>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->

<!--        <nz-form-item>-->
<!--          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="recuperation">Récuperation</nz-form-label>-->
<!--          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Name Client is not valid E-mail!">-->
<!--            <input nz-input formControlName="recuperation" id="recuperation"/>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->

<!--      </nz-tab>-->


    </nz-tabset>


    <!--    <div class="row">-->
    <!--        &lt;!&ndash; Search form &ndash;&gt;-->
    <!--        <div class="col-10">-->
    <!--          <input [(ngModel)]="search" class="form-control" type="text" placeholder="Search" aria-label="Search">-->
    <!--        </div>-->
    <!--&lt;!&ndash;        <div class="col-2" >&ndash;&gt;-->
    <!--&lt;!&ndash;          <button (click)="getVoiture()" style="width: 100%;height: 100%;" nz-button [nzType]="'primary'">Search</button>&ndash;&gt;-->
    <!--&lt;!&ndash;        </div>&ndash;&gt;-->
    <!--      </div>-->

  </form>
</nz-modal>

<p-dialog [style]="{'width':'1300px'}" header="Afficher les détails du voiture" [(visible)]="isVisible2">

<!--  <div class="container-fluid">-->

  <p-tabView class="ui-window-panel" [controlClose]="true">

    <p-tabPanel class="tab-pane fade" header="Voitures louées par le client">
      <div class="container-fluid">
        <app-voture-details
          [voitureList]="listOfData3"
        >
        </app-voture-details>


      </div>
    </p-tabPanel>

    <p-tabPanel class="tab-pane fade" header="Total">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <label> Nom complet du client: </label>
          </div>
          <div class="col-md-6">
            <label>
              <input class="inp" type="text" disabled value="{{totalData.nom}} {{totalData.prenom}}">
            </label>
            <!--            <input class="inp" type="text" disabled [(ngModel)]="listOfData4.marque">-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label> N° Telephone :</label>
          </div>
          <div class="col-md-6">
            <label>
              <input class="inp" type="text" disabled value="{{totalData.tel}}">
            </label>
            <!--            <input class="inp" type="text" disabled [(ngModel)]="listOfData4.marque">-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label> Total de jours : </label>
          </div>
          <div class="col-md-6">
            <label>
              <input class="inp" type="text" disabled value="{{totalData.totalJours}}">
            </label>
            <!--            <input class="inp" type="text" disabled [(ngModel)]="listOfData4.marque">-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label> Total de coût : </label>
          </div>
          <div class="col-md-6">
            <label>
              <input class="inp" type="text" disabled value="{{totalData.totalPrix}}">
            </label>
            <!--            <input class="inp" type="text" disabled [(ngModel)]="listOfData4.matricule">-->
          </div>
        </div>
      </div>

    </p-tabPanel>



<!--  </div>-->


  <!--    <p-tabPanel class="tab-pane fade" header="Entretien et Réparation">-->
  <!--      <div class="container-fluid">-->
  <!--        <app-entretien-->
  <!--          [entretiens]="entretien"-->
  <!--          [newEntretien]="true">-->
  <!--        </app-entretien>-->
  <!--      </div>-->
  <!--    </p-tabPanel>-->

  <!--    <p-tabPanel class="tab-pane fade" header="Total">-->
  <!--      <div class="container-fluid">-->
  <!--        <div class="row">-->
  <!--          <div class="col-md-6">-->
  <!--            <label> Marque : </label>-->
  <!--          </div>-->
  <!--          <div class="col-md-6">-->
  <!--            &lt;!&ndash;            <input class="inp" type="text" disabled value="{{listOfData4.marque}}">&ndash;&gt;-->
  <!--            &lt;!&ndash;            <input class="inp" type="text" disabled [(ngModel)]="listOfData4.marque">&ndash;&gt;-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="row">-->
  <!--          <div class="col-md-6">-->
  <!--            <label> Imatriculation : </label>-->
  <!--          </div>-->
  <!--          <div class="col-md-6">-->
  <!--            &lt;!&ndash;            <input class="inp" type="text" disabled value="{{listOfData4.matricule}}">&ndash;&gt;-->
  <!--            &lt;!&ndash;            <input class="inp" type="text" disabled [(ngModel)]="listOfData4.matricule">&ndash;&gt;-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="row">-->
  <!--          <div class="col-md-6">-->
  <!--            <label> Prix unitaire TTC : </label>-->
  <!--          </div>-->
  <!--          <div class="col-md-6">-->
  <!--            &lt;!&ndash;            <input class="inp" type="text" disabled value="{{listOfData4.prixUnitaireTTC}}">&ndash;&gt;-->
  <!--            &lt;!&ndash;            <input class="inp" type="text" disabled [(ngModel)]="listOfData4.prixUnitaireTTC">&ndash;&gt;-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="row">-->
  <!--          <div class="col-md-6">-->
  <!--            <label> Total : </label>-->
  <!--          </div>-->
  <!--          <div class="col-md-6">-->
  <!--            &lt;!&ndash;            <input class="inp" type="text" disabled value="{{listOfData4.total}}">&ndash;&gt;-->
  <!--            &lt;!&ndash;            <input class="inp" type="text" disabled [(ngModel)]="listOfData4.total">&ndash;&gt;-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="row">-->
  <!--          <div class="col-md-6">-->
  <!--            <label> Total ENTRETIEN : </label>-->
  <!--          </div>-->
  <!--          <div class="col-md-6">-->
  <!--            &lt;!&ndash;            <input class="inp" type="text" disabled value="{{listOfData4.totalEntretien}}">&ndash;&gt;-->
  <!--            &lt;!&ndash;            <input class="inp" type="text" disabled [(ngModel)]="listOfData4.totalEntretien">&ndash;&gt;-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->

  <!--    </p-tabPanel>-->

  </p-tabView>
</p-dialog>

<!--<nz-modal [(nzVisible)]="showV" nzTitle="{{title}}" disabled="!validateForm.valid" (nzOnCancel)="handleCancel()"-->
<!--          (nzOnOk)="handleOk()">-->

<!--  <div class="container-fluid mb-3">-->
<!--    <form nz-form class="ant-advanced-search-form" [formGroup]="filterForm">-->
<!--      <div class="row">-->
<!--        <div class="col-md-6 col-sm-12 offset-md-2 col-lg-6 offset-lg-2">-->
<!--          <nz-input-group [nzSuffix]="suffixIconSearch">-->
<!--            <input type="text" nz-input placeholder="input search text" (input)="searchData()"-->
<!--                   formControlName="name"/>-->
<!--          </nz-input-group>-->
<!--          <ng-template #suffixIconSearch>-->
<!--            <i nz-icon nzType="search"></i>-->
<!--          </ng-template>-->
<!--        </div>-->
<!--      </div>-->

<!--    </form>-->
<!--  </div>-->

<!--  <nz-table #basicTable [nzData]="listOfData">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Id</th>-->
<!--      <th>Marque</th>-->
<!--      <th>Matrecule</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let data of basicTable.data">-->
<!--      <td>{{ data.id }}</td>-->
<!--      <td>{{ data.name }}</td>-->
<!--      <td>{{ data.cin }}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </nz-table>-->


<!--</nz-modal>-->


