.iconStatus {
  font-size: 28px;
}

.error {
  color: red !important;
  cursor:pointer;
}


.done {
  color: #0bb929 !important;
}

.focus{
  background: #7f7f7f;
  color: #7f7f7f;
  border:none;
}

.inp{
  border: none;
  width: 100%;
  background: white;
  color: #007090;
}
.style1{
  z-index: 900;
}
.style2{
  z-index: 1034;

}
